html {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
}

body {
  background: white !important;
  min-height: 100% !important;
}

#leaderboard {
  padding: 1% 5%;
}

#leaderboard .leaderboard-table {
  width: 100%;
  margin: 1% 0;
  padding: 1% 5%;
  background: white;
}

#leaderboard .leaderboard-table th {
  border: 1px solid white !important;
}

#leaderboard .leaderboard-table td {
  border: 1px solid white !important;
  cursor: pointer;
}

#leaderboard .leaderboards-videos {
  width: 90%;
  margin: 5% 0 5% 5%;
  padding: 1%;
}

#leaderboard .leaderboards-videos .vid-thumbnail {
  background-size: cover;
  background-image: url("/img/cow.jpg");
}

#leaderboard .leaderboards-videos .vid-description {
  background: white;
  font-family: 'Arial Black';
}

html {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
}

body {
  background: white !important;
  min-height: 100% !important;
}

.award a {
  text-decoration: none !important;
}

.roping-videos a {
  text-decoration: none !important;
}

@media (min-width: 300px) {
  .awards {
    display: none;
  }

  .mobile-awards-carousel {
    padding: 0;
    display: block;
  }

  .awards {
    padding: 0;
    text-decoration: none;
  }

  .award .circle {
    width: 100% !important;
    height: 400px;
    background-color: #4f8f64;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
  }

  .awards .award {
    padding: 0;
    display: inline-block;
    text-align: center;
  }

  .award .accolade {
    text-align: center;
    margin-top: 100px;
  }

  .hire-btn {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  #home .sec-title {
    margin: 0 0 .5% 0;
  }

  #home .award-center {
    width: 100%;
    margin: 0 0 7% 0;
  }

  #home .awards {
    padding: 0;
    display: block;
    text-decoration: none;
  }

  #home .awards .circle {
    width: 94% !important;
    height: 300px;
  }

  #home .awards .award {
    padding: 0;
    display: inline-block;
    text-align: center;
  }

  #home .award .accolade {
    margin: 30% 0 0 0;
  }

  #home .mobile-awards-carousel {
    display: none;
  }

  #home .card-content {
    margin: 10% 0 0 0;
  }

  #home .card-content img {
    width: 100%;
  }
}

#home .sec-title {
  font-family: 'Arial Black';
  font-size: 20px;
  margin: 0 0 2% 0;
}

#home .awards .circle {
  border-radius: 3px;
}

#home .awards .award {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

#home .awards .most-runs .circle {
  background-color: #4f8f64;
  background-image: url("/img/runs.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home .awards .most-efficient .circle {
  background-color: #ffdb8c;
  background-image: url("/img/efficient.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home .awards .shortest-average-time .circle {
  background-color: #ffaeae;
  background-image: url("/img/time.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home .awards .most-videos-uploaded .circle {
  background-color: #aedfff;
  background-image: url("/img/uploads.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home .award {
  border-radius: 3px;
}

#home .award .award-background {
  height: 100%;
  padding: 2% 4% !important;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding: 2% 0 0 0;
}

#home .award .full-name {
  color: white;
  font-size: 20px;
  font-family: 'Arial Black' !important;
}

#home .award .description {
  color: white;
  font-size: 18px;
  font-family: 'Arial';
  font-weight: lighter;
}

#home .award .accolade {
  color: rgba(129, 180, 140, 0.8);
  font-family: 'Arial Black';
  font-size: 30px;
}

#home .award:hover .accolade {
  color: #6ad681;
}

.input-field > select {
  position: inherit;
  width: 100%;
  opacity: 1;
  height: 44px;
  pointer-events: all;
}

.upload-card {
  overflow: auto;
}

.upload-card .file-upload {
  margin-bottom: 50px;
}

.upload-card .file-upload label {
  margin-top: 10px;
}

#profile {
  padding: 3% 0;
  overflow: hidden !important;
}

#profile .runs-table {
  font-size: 1vw;
}

#profile .stats {
  display: none;
}

@media (min-width: 300px) {
  #profile .profile .profile-pic {
    display: block;
    margin: 10px auto 20px;
  }

  #profile .profile .hire-btn {
    width: 90%;
    margin: 50px 0 0 5%;
  }

  #profile .recent-upload {
    height: auto;
  }

  #profile .recent-upload .no-videos {
    text-align: center;
    margin-top: 25px;
  }

  #profile .upload {
    height: auto;
    background: white;
    border-radius: 3px;
    border: 1px solid rgba(205, 214, 224, 0.5);
  }

  #profile .upload .video {
    height: 200px;
  }

  #profile .upload h5 {
    margin: 2% 0 0 0;
    font-weight: 500;
  }

  #profile .upload p {
    margin: 1% 0 0 0;
    font-size: 12px;
    color: #b8b8b8;
  }

  #profile .run-types {
    margin: 0 0 3% 0;
  }
}

@media (min-width: 768px) {
  #profile .stats {
    display: block;
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  #profile .profile {
    background: white;
    border-radius: 3px;
    border: 1px solid rgba(205, 214, 224, 0.5);
  }

  #profile .profile .profile-stats {
    height: 70px;
    margin: 25px 0 0 0;
    border-top: 1px solid rgba(205, 214, 224, 0.3);
  }

  #profile .profile .profile-stats h4 {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 15px;
  }

  #profile .profile .profile-stats h5 {
    margin: 0;
    padding: 0;
    color: #dadada;
  }

  #profile .profile .profile-stats .stat-vids {
    height: 70px;
    padding: 0;
    border-right: 1px solid rgba(205, 214, 224, 0.3);
  }

  #profile .profile .profile-stats .stat-views {
    height: 70px;
    padding: 0;
  }

  #profile .profile .profile-desc {
    height: 110px;
    margin: 0;
    padding: 5% 0;
    border-top: 1px solid rgba(205, 214, 224, 0.3);
  }

  #profile .profile .profile-desc .s-media {
    margin: 0 25px;
    line-height: 20px;
    vertical-align: middle;
    color: #b1b0b0;
  }

  #profile .profile .profile-desc h5 {
    line-height: 20px;
    vertical-align: middle;
    color: #adadad;
  }

  #profile .profile h5 {
    font-size: 15px;
  }

  #profile .profile .location {
    margin: 1% 0 0 0;
    font-size: 13px;
    color: #c7c7c7;
  }

  #profile .profile .hire-btn {
    width: 90%;
    height: 40px;
    margin: 5% 0 0 5%;
    border-radius: 3px;
    background: #149957;
    color: white !important;
  }

  #profile .profile .hire-btn h5 {
    line-height: 40px;
    vertical-align: middle;
    font-size: 15px;
    line-height: 40px;
    vertical-align: middle;
  }

  #profile .recent-upload .no-videos {
    margin-top: 150px;
  }

  #profile .upload {
    height: 440px;
    background: white;
    border-radius: 3px;
    border: 1px solid rgba(205, 214, 224, 0.5);
  }

  #profile .upload .video {
    height: 350px;
  }

  #profile .upload h5 {
    margin: 2% 0 0 0;
    font-weight: 500;
  }

  #profile .upload p {
    margin: 1% 0 0 0;
    font-size: 12px;
    color: #b8b8b8;
  }
}

#profile .profile {
  height: 440px;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .profile .profile-stats {
  height: 70px;
  margin: 25px 0 0 0;
  border-top: 1px solid rgba(205, 214, 224, 0.3);
}

#profile .profile .profile-stats h4 {
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 15px;
}

#profile .profile .profile-stats h5 {
  margin: 0;
  padding: 0;
  color: #dadada;
}

#profile .profile .profile-stats .stat-vids {
  height: 70px;
  padding: 0;
  border-right: 1px solid rgba(205, 214, 224, 0.3);
}

#profile .profile .profile-stats .stat-views {
  height: 70px;
  padding: 0;
}

#profile .profile .profile-desc {
  height: 110px;
  margin: 0;
  padding: 5% 0;
  border-top: 1px solid rgba(205, 214, 224, 0.3);
}

#profile .profile .profile-desc .s-media {
  margin: 0 25px;
  line-height: 20px;
  vertical-align: middle;
  color: #b1b0b0;
}

#profile .profile .profile-desc h5 {
  line-height: 20px;
  vertical-align: middle;
  color: #adadad;
}

#profile .profile h5 {
  font-size: 15px;
}

#profile .profile .location {
  margin: 1% 0 0 0;
  font-size: 13px;
  color: #c7c7c7;
}

#profile .profile .hire-btn {
  height: 40px;
  border-radius: 3px;
  background: #149957;
  color: white !important;
}

#profile .profile .hire-btn h5 {
  line-height: 40px;
  vertical-align: middle;
  font-size: 15px;
  line-height: 40px;
  vertical-align: middle;
}

#profile .run-types {
  width: 100%;
  height: 60px;
  margin: 0 0 3% 0;
  border-bottom: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .run-types p {
  margin: 0;
  line-height: 60px;
  vertical-align: middle;
}

#profile .run-types .run-active {
  color: #257740;
  border-bottom: 2px solid #257740;
}

#profile .profile-pic {
  width: 110px;
  height: 110px;
  background-size: cover;
  background-image: url("/img/austin-light.jpg");
  border-radius: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white !important;
}

#profile .profile-info {
  padding: 8% 0;
}

#profile .upload {
  width: 100%;
  padding: 3%;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .upload .video {
  background-size: cover;
  background-image: url("/img/india.jpg");
}

#profile .upload h5 {
  margin: 2% 0 0 0;
  font-weight: 500;
}

#profile .upload p {
  margin: 1% 0 0 0;
  font-size: 12px;
  color: #b8b8b8;
}

#profile .runs {
  width: 100%;
  height: auto;
  margin: 3% 0;
  padding: 3%;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .runs .run {
  height: 60px;
  margin: 0 0 1% 0;
  padding: 0;
  border-bottom: 1px solid rgba(205, 214, 224, 0.3);
}

#profile .uploads {
  margin: 7% 0 15% 0;
}

#profile .uploads .recent-uploads {
  margin: 0;
  padding: 0;
}

#profile .uploads .recent-uploads .rec-vid {
  width: 98%;
  height: 220px;
  padding: 3%;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .uploads .recent-uploads .rec-vid .video {
  height: 120px;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-image: url("/img/india.jpg");
}

#profile .human-name {
  margin: 0;
  font-size: 28pt;
}

#profile .sport-title,
#profile .location {
  display: block;
  font-size: 12pt;
}

#profile .actions a {
  width: 100%;
}

#profile .profile-table {
  width: 100%;
  margin: 5% 0;
  background: white;
}

#profile .profile-table table {
  border: 1px solid #cdd6e0 !important;
  border-radius: 3px !important;
}

#profile .profile-table thead {
  border-radius: 3px;
  border: 1px solid #cdd6e0 !important;
}

#profile .profile-table th {
  border: 1px solid white !important;
}

#profile .profile-table td {
  border: 1px solid white !important;
}

.upload-action-buttons {
  margin-top: 10px;
  text-align: center;
}

.upload-action-buttons p {
  margin-top: 10px !important;
}

.control-button {
  font-size: 20pt;
}

.upload-card {
  overflow: auto;
  margin-top: 40px;
}

.upload-card .file-upload {
  margin-bottom: 50px;
}

.upload-card .file-upload label {
  margin-top: 10px;
}

.catch-type-button {
  display: table;
  border: 1px solid #000;
  border-radius: 100%;
  width: 66px;
  height: 66px;
  text-align: center;
  margin: 0 auto;
}

.catch-type-button span {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.details {
  overflow: auto;
}

.activeCatch {
  background-color: #28a745;
  color: #fff;
}

.activeCatchPenalty {
  background-color: red;
  color: #fff;
}

.disabled .catch-type-button {
  background-color: #ccc;
  color: #fff;
}

.card-content {
  overflow: auto;
}

.link-button {
  margin-top: 20px;
}

#my-video {
  width: 100% !important;
  height: 200px !important;
  pointer-events: none;
}

#my-video video {
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  position: relative;
}

#protection {
  background-color: #000;
  overflow: hidden;
}

.zoom-button,
.control-button,
.video-control-button {
  background-color: #2b333f;
  color: #fff;
  font-size: 20pt;
}

@media (min-width: 768px) {
  #my-video {
    height: 500px !important;
  }

  #my-video video {
    height: 500px !important;
  }
}

body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

html {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

#subscribe {
  padding: 10% 5%;
}

#subscribe h1 {
  font-family: 'Arial Black';
}

#subscribe h2 {
  font-family: 'Arial Black';
}

#subscribe .green {
  color: #23915e;
}

#subscribe .light-green {
  color: rgba(102, 177, 148, 0.5);
}

#subscribe .subscription-card {
  padding: 10%;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

#subscribe .subscription-card .sub-price {
  width: 130px;
  height: 130px;
  margin: 10% auto;
  background: #478f65;
  color: white;
  border-radius: 67.5px;
}

#subscribe .subscription-card .sub-price h1 {
  line-height: 130px;
  vertical-align: middle;
  font-size: 30px;
}

#subscribe .subscription-card h3 {
  height: 100px !important;
}

#subscribe .subscription-card .buy-btn {
  width: 130px !important;
  margin: 5% auto !important;
  padding: 2%;
  display: block;
  background: #478f65 !important;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 300px) {
  #subscribe .subscription-card {
    margin-top: 10px;
  }
}

#login .spacer {
  margin-top: 2%;
}

#login .extra-spacing {
  margin: 5%;
}

#login .add-padding {
  padding: 4%;
}

body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  background: #f2f3f5 !important;
}

html {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

h1 {
  font-family: 'Arial Black';
}

h2 {
  font-family: 'Arial Black';
}

.green {
  color: #23915e;
}

.light-green {
  color: rgba(102, 177, 148, 0.5);
}

.view-leaderboard {
  font-size: 12px;
  color: silver;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

#home {
  margin-top: 70px;
}

.runs-award {
  background-image: url("/public/img/runs.jpeg") !important;
}

.efficient-award {
  background-image: url("/public/img/efficient.jpeg") !important;
}

.time-award {
  background-image: url("/public/img/time.jpeg") !important;
}

.uploads-award {
  background-image: url("/public/img/uploads.jpeg") !important;
}

.roping-videos .video {
  padding: 3%;
  margin: 0 0 6% 0;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.roping-videos .video-wrapper {
  margin: 0 0 1% 0;
}

.roping-videos .video-wrapper:hover .vid-time {
  background: rgba(0, 0, 0, 0.85);
}

.roping-videos .video-wrapper:hover .light-green {
  color: #66b194;
}

.roping-videos .vid-thumbnail {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-size: cover;
  background-image: url("/img/cow.jpg");
}

.roping-videos .vid-time {
  width: 40px;
  height: 20px;
  position: absolute;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.roping-videos .vid-time p {
  color: white;
  font-size: 10px;
  line-height: 20px;
  vertical-align: middle;
}

.roping-videos .vid-content {
  width: 100%;
  padding: 2%;
  margin: 0;
  background: white;
}

.roping-videos .vid-content .vid-description {
  color: black !important;
}

.roping-videos .vid-content .vid-description li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.roping-videos .vid-content .vid-views {
  color: #c4c4c4;
  font-size: 13px;
}

@media (min-width: 300px) {
  .sa-brand {
    display: none;
  }

  .sa-brand-short {
    margin: 0 0 0 .5%;
    font-family: Arial Black;
    color: blue;
  }

  .sa-brand-short li a {
    text-decoration: none !important;
  }

  .nav-search {
    display: block;
  }

  .desktop-search {
    display: none;
  }

  .mobile-search {
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px 0 0 0;
    padding: 0 0 0 1%;
    border: none;
    background: #f4f6f7;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .results-mobile {
    display: block;
    width: 100%;
    padding: 5% 0 2% 0;
    background: white;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1);
            box-shadow: rgba(0, 0, 0, 0.1);
  }

  .results-mobile li {
    height: 40px;
    width: 100%;
    padding: 0 2%;
    font-size: 15px;
    color: black !important;
    border-radius: 5px;
    list-style-type: none;
    text-decoration: none !important;
    cursor: pointer;
  }

  .results-mobile li a {
    text-decoration: none !important;
    font-size: 15px;
    line-height: 40px;
    vertical-align: middle;
    color: black !important;
  }

  .results-mobile li:hover {
    background: #e2e2e2;
  }

  .results-desktop {
    display: none;
  }

  .mobile-profile-btn {
    width: 100%;
    height: 40px;
    margin: 2px 10px 0 0;
    background: rgba(0, 128, 90, 0) !important;
    border: 2px solid #00805a !important;
    border-radius: 5px;
    color: #00805a;
  }

  .admin-btn {
    width: 100%;
    height: 40px;
    margin: 5px 0 0 0;
    background: rgba(0, 128, 90, 0) !important;
    border: 2px solid #00805a !important;
    border-radius: 5px;
    color: #00805a;
  }

  .mobile-upload-btn {
    width: 100%;
    height: 40px;
    margin: 2px 0 0 0;
    background: #00805a !important;
    border: 2px solid #00805a !important;
    border-radius: 5px;
    color: white;
  }

  .nav-profile-pic {
    display: none;
  }

  .coaches {
    height: 450px;
    margin: 0 0 20% 0;
  }

  .professionals .hire-btn {
    display: block;
    margin: 10% auto;
    width: 50%;
    height: 40px;
    padding-top: 5px;
    background-color: transparent;
    color: white !important;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
  }

  .roping-videos .vid-thumbnail {
    height: 150px;
  }
}

@media (min-width: 768px) {
  .roping-videos .vid-thumbnail {
    height: 100px;
  }

  .mobile-profile-btn {
    display: block;
  }

  .mobile-upload-btn {
    display: block;
  }

  .desktop-search {
    display: none;
  }

  .mobile-search {
    display: block;
  }
}

@media (min-width: 992px) {
  .roping-videos .vid-thumbnail {
    height: 100px;
  }

  .mobile-search {
    display: none;
  }

  .desktop-search {
    display: block;
    width: 500px;
    height: 40px;
    margin: 0 0 0 5%;
    padding: 0 0 0 1%;
    border: none;
    background: #f4f6f7;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (min-width: 1200px) {
  .sa-brand {
    margin: 0 0 0 .5%;
    font-family: Arial Black;
    color: blue;
    display: block;
  }

  .sa-brand li a {
    text-decoration: none !important;
  }

  .sa-brand-short {
    margin: 0 0 0 .5%;
    font-family: Arial Black;
    color: blue;
    display: none;
  }

  .sa-brand-short li a {
    text-decoration: none !important;
  }

  .nav-search {
    display: inline-block;
  }

  .results-desktop {
    display: block;
    width: 100%;
    padding: 5% 3% 2% 0;
    background: white;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1);
            box-shadow: rgba(0, 0, 0, 0.1);
  }

  .results-desktop li {
    height: 40px;
    width: 100%;
    padding: 0 2%;
    font-size: 15px;
    color: black !important;
    border-radius: 5px;
    list-style-type: none;
    text-decoration: none !important;
    cursor: pointer;
  }

  .results-desktop li a {
    text-decoration: none !important;
    font-size: 15px;
    line-height: 40px;
    vertical-align: middle;
    color: black !important;
  }

  .results-desktop li:hover {
    background: #e2e2e2;
  }

  .results-mobile {
    display: none;
  }

  .desktop-search {
    display: block;
    width: 600px;
    height: 40px;
    margin: 0 0 0 15%;
    padding: 0 0 0 1%;
    border: none;
    background: #f4f6f7;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .mobile-search {
    display: none;
  }

  .professionals .hire-btn {
    margin: 2% auto;
    width: 100px;
    height: 40px;
    color: white !important;
    background: transparent;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
  }

  .roping-videos .vid-thumbnail {
    height: 120px;
  }
}

.sa-nav {
  -webkit-box-shadow: 10px -20px 30px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 10px -20px 30px rgba(0, 0, 0, 0.2) !important;
  color: white !important;
  z-index: 1000;
}

.sa-nav li a {
  text-decoration: none;
  color: white;
}

.sa-brand {
  margin: 0 0 0 .5%;
  font-family: Arial Black;
  color: blue;
}

.sa-brand li a {
  text-decoration: none !important;
}

.sa-brand-short {
  font-family: Arial Black;
  color: blue;
}

.sa-brand-short li a {
  text-decoration: none !important;
}

.upload-btn {
  color: #b6b6b6;
  width: 40px;
}

.nav-profile-pic {
  width: 35px;
  height: 35px;
  margin: 1% 0 0 0;
  border-radius: 50px;
  background-image: url("/img/austin-light.jpg");
  background-size: cover;
}

.side-nav {
  background: white;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 200vh;
  overflow: scroll;
}

.content {
  height: 100vh;
  padding-top: 60px;
  background: #f2f3f5 !important;
  overflow: scroll;
}

.guide {
  margin: 30% 0 0 0;
}

.guide h6 {
  color: #b6b6b6 !important;
  margin: 15% 0 1% 0;
  padding: 0 0 0 5%;
  font-weight: lighter;
}

.guide .guide-routes {
  height: 50px;
  padding: 0 0 0 5%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guide .guide-routes p {
  color: #5e5e5e;
  font-size: 17px;
  line-height: 50px;
  vertical-align: middle;
}

.guide .guide-routes .guide-route-icon {
  margin: 0 8% 0 0;
  color: #4a9259;
  line-height: 50px;
  vertical-align: middle;
}

.guide .guide-routes:hover {
  background: #eeeeee;
}

.nav-wrapper {
  background-color: #28a745;
}

.input-field > select {
  display: inline-block;
  position: inherit;
  width: 100%;
  opacity: 1;
  height: 44px;
  pointer-events: all;
}

.input-field > select + label {
  font-size: 12px;
  margin-top: -36px;
}

.dropdown-button:focus {
  outline: 0;
}

.sec-title {
  font-family: 'Arial Black';
  font-size: 20px;
  margin: 3% 0 .5% 0;
}

.coaches {
  width: 100%;
  height: 350px;
  margin: 0 0 4% 0;
  padding: 0;
  border-radius: 3px;
}

.professionals {
  padding: 0;
  border-radius: 3px !important;
}

.professionals .pro-image {
  height: 350px;
  background-image: url("/img/prof.jpg");
  background-size: cover;
  background-position: center;
}

.professionals .pro-image h2 {
  margin: 8% 0 0 0;
  font-size: 50px;
  color: white;
}

.professionals .pro-content {
  height: 80px;
  background: white;
}

.professionals .pro-content h2 {
  color: white;
  margin: 3% 0 3% 5%;
}

.pro-content .sport-btn {
  width: 70px;
  padding: 0 2%;
  margin: 0 0 0 5%;
}

.pro-content .sport-btn p {
  margin: 0;
}

.pro-content .pro-description {
  margin: 3% 0 0 5%;
}

.pro-content .coach-vid {
  width: 150px;
  height: 150px;
  margin: 10% 0 0 10%;
  background-size: cover;
  background-image: url("/img/cow.jpg");
}

.mobile-profile-btn:hover {
  color: green;
}

.mobile-upload-btn:hover {
  color: white;
}

