@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.nav-wrapper {
  background-color: #28a745;
}

.input-field > select {
  position: inherit;
  width: 100%;
  opacity: 1;
  height: 44px;
  pointer-events: all;
}

.input-field > select + label {
  font-size: 12px;
  margin-top: -36px;
}

.dropdown-button:focus {
  outline: 0;
}

