body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

html {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

h1 {
  font-family: 'Arial Black';
}

h2 {
  font-family: 'Arial Black';
}

.green {
  color: #23915e;
}

.light-green {
  color: rgba(102, 177, 148, 0.5);
}

.sa-nav {
  -webkit-box-shadow: 10px -20px 30px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 10px -20px 30px rgba(0, 0, 0, 0.2) !important;
  color: white !important;
  z-index: 1000;
}

.sa-nav li a {
  text-decoration: none;
  color: white;
}

.sa-brand {
  margin: 0 0 0 .5%;
  font-family: Arial Black;
  color: blue;
}

.sa-brand li a {
  text-decoration: none !important;
}

.nav-search {
  width: 600px;
  height: 40px;
  margin: 0 0 0 20%;
  padding: 0 0 0 1%;
  border: none;
  background: #f4f6f7;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.upload-btn {
  color: #b6b6b6;
  width: 40px;
}

.nav-profile-pic {
  width: 35px;
  height: 35px;
  margin: 1% 0 0 0;
  border-radius: 50px;
  background-image: url("/img/austin-light.jpg");
  background-size: cover;
}

.side-nav {
  background: white;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 200vh;
  overflow: scroll;
}

.content {
  height: 100vh;
  padding: 0;
  background: #fafafa;
  overflow: scroll;
}

.guide {
  margin: 30% 0 0 0;
}

.guide h6 {
  color: #b6b6b6 !important;
  margin: 15% 0 1% 0;
  padding: 0 0 0 5%;
  font-weight: lighter;
}

.guide .guide-routes {
  height: 50px;
  padding: 0 0 0 5%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guide .guide-routes p {
  color: #5e5e5e;
  font-size: 17px;
  line-height: 50px;
  vertical-align: middle;
}

.guide .guide-routes .guide-route-icon {
  margin: 0 8% 0 0;
  color: #4a9259;
  line-height: 50px;
  vertical-align: middle;
}

.guide .guide-routes:hover {
  background: #eeeeee;
}

.nav-wrapper {
  background-color: #28a745;
}

.input-field > select {
  display: inline-block;
  position: inherit;
  width: 100%;
  opacity: 1;
  height: 44px;
  pointer-events: all;
}

.input-field > select + label {
  font-size: 12px;
  margin-top: -36px;
}

.dropdown-button:focus {
  outline: 0;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
}

body {
  background: white !important;
  min-height: 100% !important;
}

@media (min-width: 1200px) {
  #leaderboard .leaderboards-videos {
    width: 90%;
    margin: 5% 0 5% 5%;
    padding: 1%;
  }

  #leaderboard .leaderboards-videos .rope-vid {
    padding: 0;
    margin: 0 0 3% 0;
  }

  #leaderboard .leaderboards-videos .vid-thumbnail {
    width: 96%;
    height: 100px;
    padding: 0;
    margin: 0;
  }

  #leaderboard .leaderboards-videos .vid-description {
    width: 96%;
    padding: 2% 0 5% 3%;
    margin: 0;
  }
}

#leaderboard .leaderboard-table {
  width: 90%;
  margin: 5% 0 5% 5%;
  padding: 1%;
  -webkit-box-shadow: 0px 1px 30px rgba(100, 140, 230, 0.15);
          box-shadow: 0px 1px 30px rgba(100, 140, 230, 0.15);
}

#leaderboard .leaderboard-table th {
  border: 1px solid white !important;
}

#leaderboard .leaderboard-table td {
  border: 1px solid white !important;
}

#leaderboard .leaderboards-videos {
  width: 90%;
  margin: 5% 0 5% 5%;
  padding: 1%;
}

#leaderboard .leaderboards-videos .vid-thumbnail {
  background-size: cover;
  background-image: url("/img/cow.jpg");
}

#leaderboard .leaderboards-videos .vid-description {
  background: white;
  font-family: 'Arial Black';
}

html {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
}

body {
  background: white !important;
  min-height: 100% !important;
}

.award a {
  text-decoration: none !important;
}

.roping-videos a {
  text-decoration: none !important;
}

@media (min-width: 300px) {
  .awards {
    display: none;
  }
}

@media (min-width: 1200px) {
  #home .sec-title {
    margin: 10% 0 .5% 5%;
  }

  #home .award-center {
    width: 90%;
    margin: 0 0 0 5%;
    padding: 0;
  }

  #home .awards {
    padding: 0;
    display: block;
    text-decoration: none;
  }

  #home .awards .circle {
    width: 94% !important;
    height: 300px;
  }

  #home .awards .award {
    padding: 0;
    display: inline-block;
    text-align: center;
  }

  #home .award .accolade {
    margin: 30% 0 0 0;
  }

  #home .mobile-awards-carousel {
    display: none;
  }

  #home .card-content {
    margin: 10% 0 0 0;
  }

  #home .card-content img {
    width: 100%;
  }

  #home .roping-videos {
    width: 90%;
    padding: 0;
    margin: 0 0 10% 5%;
  }

  #home .video-wrapper:hover .vid-time {
    background: rgba(0, 0, 0, 0.85);
  }

  #home .video-wrapper:hover .light-green {
    color: #66b194;
  }

  #home .rope-vid {
    margin: 0 0 50% 0;
  }

  #home .roping-videos a {
    width: 200px;
  }

  #home .roping-videos .rope-vid {
    padding: 0;
    margin: 0 0 3% 0;
  }

  #home .roping-videos .vid-thumbnail {
    width: 96%;
    height: 120px;
    padding: 0;
    margin: 0;
  }

  #home .roping-videos .vid-description {
    width: 96%;
    padding: 2% 0 5% 1.5%;
    margin: 0;
    color: black !important;
  }

  #home .roping-videos .vid-description li a {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  #home .roping-videos .vid-views {
    padding: 0 0 0 1.5%;
    color: #c8c8c8;
    font-size: 13px;
  }
}

#home .sec-title {
  font-family: 'Arial Black';
  font-size: 20px;
  margin: 10% 0 2% 5%;
}

#home .awards {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
}

#home .awards .circle {
  border-radius: 3px;
}

#home .awards .award {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

#home .awards .most-runs .circle {
  background-color: #4f8f64;
  background-image: url("/img/austin-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home .awards .most-efficient .circle {
  background-color: #ffdb8c;
  background-image: url("/img/austin-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home .awards .shortest-average-time .circle {
  background-color: #ffaeae;
  background-image: url("/img/austin-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home .awards .most-videos-uploaded .circle {
  background-color: #aedfff;
  background-image: url("/img/austin-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home .award .award-background {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 2% 0 0 5%;
}

#home .award .full-name {
  color: white;
  font-family: 'Arial Black' !important;
}

#home .award .description {
  color: white;
  font-family: 'Arial';
  font-weight: lighter;
}

#home .award .accolade {
  color: rgba(129, 180, 140, 0.8);
  font-family: 'Arial Black';
  font-size: 30px;
}

#home .award:hover .accolade {
  color: #6ad681;
}

#home .mobile-awards-carousel {
  display: none;
}

#home .roping-videos .vid-thumbnail {
  padding: 36% 0 0 0;
  background-size: cover;
  background-image: url("/img/cow.jpg");
}

#home .roping-videos .vid-time {
  width: 40px;
  height: 20px;
  margin: 0 0 0 75%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

#home .roping-videos .vid-time p {
  color: white;
  font-size: 10px;
  line-height: 20px;
  vertical-align: middle;
}

#home .roping-videos .vid-description {
  background: white;
  font-family: 'Arial Black';
}

.input-field > select {
  position: inherit;
  width: 100%;
  opacity: 1;
  height: 44px;
  pointer-events: all;
}

.upload-card {
  overflow: auto;
}

.upload-card .file-upload {
  margin-bottom: 50px;
}

.upload-card .file-upload label {
  margin-top: 10px;
}

#profile {
  padding: 3% 0;
  background: #f2f3f5 !important;
  overflow: hidden !important;
}

#profile .col-lg-3 {
  padding: 0 !important;
}

#profile .container {
  padding: 0 !important;
}

#profile .banner {
  overflow: hidden !important;
  padding: 0 !important;
}

#profile .profile-container {
  width: 100%;
  padding: 0 !important;
}

#profile .run-types {
  width: 100%;
  height: 60px;
  margin: 0 0 3% 0;
  border-bottom: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .run-types p {
  margin: 0;
  line-height: 60px;
  vertical-align: middle;
}

#profile .run-types .run-active {
  color: #257740;
  border-bottom: 2px solid #257740;
}

#profile .profile {
  width: 300px;
  height: 500px;
  margin: 0 0 20% 0;
  padding: 0 0 5% 0;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .profile .profile-stats {
  height: 70px;
  margin: 25px 0 0 0;
  border-top: 1px solid rgba(205, 214, 224, 0.3);
}

#profile .profile .profile-stats h4 {
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 15px;
}

#profile .profile .profile-stats h5 {
  margin: 0;
  padding: 0;
  color: #dadada;
}

#profile .profile .profile-stats .stat-vids {
  height: 70px;
  padding: 0;
  border-right: 1px solid rgba(205, 214, 224, 0.3);
}

#profile .profile .profile-stats .stat-views {
  height: 70px;
  padding: 0;
}

#profile .profile .profile-desc {
  height: 110px;
  margin: 0;
  padding: 5% 0;
  border-top: 1px solid rgba(205, 214, 224, 0.3);
}

#profile .profile .profile-desc .s-media {
  margin: 0 25px;
  line-height: 20px;
  vertical-align: middle;
  color: #b1b0b0;
}

#profile .profile .profile-desc h5 {
  line-height: 20px;
  vertical-align: middle;
  color: #adadad;
}

#profile .profile h5 {
  font-size: 15px;
}

#profile .profile .location {
  margin: 1% 0 0 0;
  font-size: 13px;
  color: #c7c7c7;
}

#profile .profile .hire-btn {
  width: 90%;
  height: 40px;
  margin: 5% 0 0 5%;
  border-radius: 3px;
  background: #149957;
  color: white !important;
}

#profile .profile .hire-btn h5 {
  line-height: 40px;
  vertical-align: middle;
  font-size: 15px;
  line-height: 40px;
  vertical-align: middle;
}

#profile .profile-pic {
  width: 110px;
  height: 110px;
  margin: 50px 0 25px 95px;
  background-size: cover;
  background-image: url("/img/profile-pic.jpg");
  border-radius: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white !important;
}

#profile .profile-info {
  padding: 8% 0;
}

#profile .recent-upload {
  height: 500px;
  padding: 0 0 0 5%;
}

#profile .upload {
  width: 100%;
  height: 500px;
  padding: 3%;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .upload .video {
  height: 350px;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-image: url("/img/india.jpg");
}

#profile .upload h5 {
  margin: 2% 0 0 0;
  font-weight: 500;
}

#profile .upload p {
  margin: 1% 0 0 0;
  font-size: 12px;
  color: #b8b8b8;
}

#profile .runs {
  width: 100%;
  height: auto;
  margin: 3% 0;
  padding: 3%;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .runs .run {
  height: 60px;
  margin: 0 0 1% 0;
  padding: 0;
  border-bottom: 1px solid rgba(205, 214, 224, 0.3);
}

#profile .uploads {
  margin: 7% 0 15% 0;
}

#profile .uploads .recent-uploads {
  margin: 0;
  padding: 0;
}

#profile .uploads .recent-uploads .rec-vid {
  width: 98%;
  height: 220px;
  padding: 3%;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(205, 214, 224, 0.5);
}

#profile .uploads .recent-uploads .rec-vid .video {
  height: 120px;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-image: url("/img/india.jpg");
}

#profile .human-name {
  margin: 0;
  font-size: 28pt;
}

#profile .sport-title,
#profile .location {
  display: block;
  font-size: 12pt;
}

#profile .actions a {
  width: 100%;
}

#profile .profile-table {
  width: 100%;
  margin: 5% 0;
  background: white;
}

#profile .profile-table table {
  border: 1px solid #cdd6e0 !important;
  border-radius: 3px !important;
}

#profile .profile-table thead {
  border-radius: 3px;
  border: 1px solid #cdd6e0 !important;
}

#profile .profile-table th {
  border: 1px solid white !important;
}

#profile .profile-table td {
  border: 1px solid white !important;
}

.upload-action-buttons {
  margin-top: 10px;
  text-align: center;
}

.upload-action-buttons p {
  margin-top: 10px !important;
}

.control-button {
  font-size: 20pt;
}

.upload-card {
  overflow: auto;
  margin-top: 40px;
}

.upload-card .file-upload {
  margin-bottom: 50px;
}

.upload-card .file-upload label {
  margin-top: 10px;
}

.catch-type-button {
  display: table;
  border: 1px solid #000;
  border-radius: 100%;
  width: 66px;
  height: 66px;
  text-align: center;
  margin: 0 auto;
}

.catch-type-button span {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.details {
  overflow: auto;
}

.activeCatch {
  background-color: #28a745;
  color: #fff;
}

.activeCatchPenalty {
  background-color: red;
  color: #fff;
}

.disabled .catch-type-button {
  background-color: #ccc;
  color: #fff;
}

.card-content {
  overflow: auto;
}

.link-button {
  margin-top: 20px;
}

#my-video {
  width: 100% !important;
  height: 500px !important;
  pointer-events: none;
}

#my-video video {
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  position: relative;
}

#protection {
  background-color: #000;
  overflow: hidden;
}

.zoom-button,
.control-button,
.video-control-button {
  background-color: #2b333f;
  color: #fff;
  font-size: 20pt;
}

.coaches {
  width: 90%;
  margin: 1% 0 1% 5%;
  padding: 0;
}

.professionals {
  padding: 0;
  height: 350px;
  background: white !important;
}

.professionals .pro-image {
  background-image: url("/img/mustache.jpg");
  background-size: cover;
}

.professionals .hire-btn {
  margin: 2% 0 0 82%;
  width: 100px;
  height: 40px;
  color: white;
  background: #81b48c;
  border: 1px solid #81b48c;
  border-radius: 3px;
  cursor: pointer;
}

.coaches:hover .hire-btn {
  background-color: #6ad681;
}

.professionals .pro-content {
  height: 350px;
}

.professionals .pro-content h2 {
  margin: 3% 0 3% 5%;
}

.pro-content .sport-btn {
  width: 70px;
  padding: 0 2%;
  margin: 0 0 0 5%;
}

.pro-content .sport-btn p {
  margin: 0;
}

.pro-content .pro-description {
  margin: 3% 0 0 5%;
}

.pro-content .coach-vid {
  width: 150px;
  height: 150px;
  margin: 10% 0 0 10%;
  background-size: cover;
  background-image: url("/img/cow.jpg");
}

