.input-field > select {
  position: inherit;
  width: 100%;
  opacity: 1;
  height: 44px;
  pointer-events: all;
}

.upload-card {
  overflow: auto;
}

.upload-card .file-upload {
  margin-bottom: 50px;
}

.upload-card .file-upload label {
  margin-top: 10px;
}

