.upload-action-buttons {
  margin-top: 10px;
  text-align: center;
}

.upload-action-buttons p {
  margin-top: 10px !important;
}

.control-button {
  font-size: 20pt;
}

.upload-card {
  overflow: auto;
  margin-top: 40px;
}

.upload-card .file-upload {
  margin-bottom: 50px;
}

.upload-card .file-upload label {
  margin-top: 10px;
}

.catch-type-button {
  display: table;
  border: 1px solid #000;
  border-radius: 100%;
  width: 66px;
  height: 66px;
  text-align: center;
  margin: 0 auto;
}

.catch-type-button span {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.details {
  overflow: auto;
}

