html {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
}
body {
  // background: rgb(246, 247, 248) !important;
  background: white !important;
  min-height: 100% !important;
}

.award a {
  text-decoration: none !important;
}

.roping-videos a {
  text-decoration: none !important;
}

@media (min-width: 300px) {
  .awards {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  #home{
    .sec-title {
      margin: 10% 0 .5% 5%;
    }
  
    .award-center {
      width: 90%;
      margin: 0 0 0 5%;
      padding: 0;
    }

    .awards {
      padding: 0;
      // margin-bottom: 5%;
      display: block;
      text-decoration: none;
    }
    
    .awards .circle {
      width: 94% !important;
      height: 300px;
    }
    
    .awards .award {
      padding: 0;
      display: inline-block;
      text-align: center;
    }  
  
    .award .accolade {
      margin: 30% 0 0 0;
    }

    .mobile-awards-carousel {
      display: none;
    }
    
    .card-content {
      margin: 10% 0 0 0;
      img {
        width:100%
      }
    }
  
  
    .roping-videos {
      width: 90%;
      padding: 0;
      margin: 0 0 10% 5%;
    }

    .video-wrapper {
      // width: 200px;
    }

    .video-wrapper:hover {
      .vid-time {
        background: rgba(0, 0, 0, .85);
      }

      .light-green {
        color: rgba(102, 177, 148, 1);
      }
    }

    .rope-vid {
      // width: 200px !important;
      margin: 0 0 50% 0;
    }

    .roping-videos a {
      width: 200px;
    }
  
    .roping-videos .rope-vid {
      padding: 0;
      margin: 0 0 3% 0;
    }
  
    .roping-videos .vid-thumbnail {
      width: 96%;
      height: 120px;
  
      padding: 0;
      margin: 0;
    }
  
    .roping-videos .vid-description {
      width: 96%;
      padding: 2% 0 5% 1.5%;
      margin: 0;

      color: black !important;

      li a {
        text-decoration: none;
        padding: 0;
        margin: 0;
      }
    }

    .roping-videos .vid-views {
      padding: 0 0 0 1.5%;
      color: rgb(200, 200, 200);

      font-size: 13px;
    }
  
  }  
}


#home {
  .sec-title {
    font-family: 'Arial Black';
    font-size: 20px;

    margin: 10% 0 2% 5%;
  }

  .award-center {
  }

  .awards {
    transition: all .3s;
    display: block;
  }
  
  .awards .circle {
    border-radius: 3px;
  }
  
  .awards .award {
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
  
  .awards .most-runs .circle {
    background-color: rgb(79, 143, 100);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .awards .most-efficient .circle {
    background-color: rgb(255, 219, 140);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .awards .shortest-average-time .circle {
    background-color: rgb(255, 174, 174);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .awards .most-videos-uploaded .circle {
    background-color: rgb(174, 223, 255);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .award .award-background {
    height: 100%;
    background: rgba(0, 0, 0, .4);
    border-radius: 3px;
    padding: 2% 0 0 5%;
  }

  .award .full-name {
    color: white;
    font-family: 'Arial Black' !important;
  }

  .award .description {
    color: white;
    font-family: 'Arial'; 
    font-weight: lighter;
  }

  .award .accolade {
    color: rgba(129, 180, 140, .8);
    font-family: 'Arial Black';
    font-size: 30px;
  }

  .award:hover {
    .accolade {
      color: rgb(106, 214, 129);
    }
  }

  .mobile-awards-carousel {
    display: none;
  }

  .roping-videos {
    // border-bottom: 1x solid rgb(240, 240, 240);
  }

  .roping-videos .vid-thumbnail {
    padding: 36% 0 0 0;
    background-size: cover;
    background-image: url('/img/cow.jpg');
  }

  .roping-videos .vid-time {
    width: 40px;
    height: 20px;
    margin: 0 0 0 75%;

    background: rgba(0, 0, 0, .6);

    border-radius: 5px;

    p {
      color: white;
      font-size: 10px;
      line-height: 20px;
      vertical-align: middle;
    }
  }

  .roping-videos .vid-description {
    background: white;
    font-family: 'Arial Black';
  }

}

