html {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
}
body {
  // background: rgb(246, 247, 248) !important;
  background: white !important;
  min-height: 100% !important;
}

.col-lg-3 {
  padding: 0;
}

.award a {
  text-decoration: none !important;
}

.roping-videos a {
  text-decoration: none !important;
}

@media (min-width: 300px) {
  .awards {
    display: none;
  }

  .mobile-awards-carousel {
    padding: 4%;
    display: block;
  }

  .awards {
    padding: 0;
    // margin-bottom: 5%;
    text-decoration: none;
  }
  
  .award .circle {
    width: 100% !important;
    height: 400px;

    background-color: rgb(79, 143, 100);
    background-image: url('/img/austin-light.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 3px;
  }
  
  .awards .award {
    padding: 0;
    display: inline-block;
    text-align: center;
  }  

  .award .accolade {
    margin: 30% 0 0 0;
  }

  .hire-btn {
    width: 100%;
    margin: 0;
  }

  .roping-videos {
    padding: 4%;
  }

}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  #home{
    .sec-title {
      margin: 0 0 .5% 0;
    }
  
    .award-center {
      width: 100%;
      margin: 0;
      padding: 2%;
    }

    .awards {
      padding: 0;
      // margin-bottom: 5%;
      display: block;
      text-decoration: none;
    }
    
    .awards .circle {
      width: 94% !important;
      height: 300px;
    }
    
    .awards .award {
      padding: 0;
      display: inline-block;
      text-align: center;
    }  
  
    .award .accolade {
      margin: 30% 0 0 0;
    }

    .mobile-awards-carousel {
      display: none;
    }
    
    .card-content {
      margin: 10% 0 0 0;
      img {
        width:100%
      }
    }
  }  
}


#home {
  .sec-title {
    font-family: 'Arial Black';
    font-size: 20px;

    margin: 0 0 2% 0;
  }

  .award-center {
  }

  .awards .circle {
    border-radius: 3px;
  }
  
  .awards .award {
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
  
  .awards .most-runs .circle {
    background-color: rgb(79, 143, 100);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .awards .most-efficient .circle {
    background-color: rgb(255, 219, 140);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .awards .shortest-average-time .circle {
    background-color: rgb(255, 174, 174);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .awards .most-videos-uploaded .circle {
    background-color: rgb(174, 223, 255);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .award {
    border-radius: 3px;
  }

  .award .award-background {
    height: 100%;
    padding: 2% 4% !important;
    background: rgba(0, 0, 0, .4);
    border-radius: 3px;
    padding: 2% 0 0 0;
  }

  .award .full-name {
    color: white;
    font-size: 20px;
    font-family: 'Arial Black' !important;
  }

  .award .description {
    color: white;
    font-size: 18px;
    font-family: 'Arial'; 
    font-weight: lighter;
  }

  .award .accolade {
    color: rgba(129, 180, 140, .8);
    font-family: 'Arial Black';
    font-size: 30px;
  }

  .award:hover {
    .accolade {
      color: rgb(106, 214, 129);
    }
  }
}

