html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: rgb(246, 247, 248) !important;
  min-height: 100%;
}

#leaderboard {
  .awards {
    margin-bottom: 5%;
    transition: all .3s;
  }

  .award {
    padding-left:20px;
    padding-right:20px;
    // font-family: Roboto,"Helvetica Neue",sans-serif;
  }
  
  .awards .circle {
    margin-left:auto;
    margin-right:auto;
  
    // border-radius: 50px;
    width: 100%;
    height: 350px;

    border-radius: 3px;
  }
  
  .awards .award {
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  // .awards .award:hover {
  //   transform: scale(1.02, 1.02);
  // }
  
  .awards .most-runs .circle {
    background-color: rgb(79, 143, 100);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .awards .most-efficient .circle {
    background-color: rgb(255, 219, 140);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .awards .shortest-average-time .circle {
    background-color: rgb(255, 174, 174);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .awards .most-videos-uploaded .circle {
    background-color: rgb(174, 223, 255);
    background-image: url('/img/austin-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .award .award-background {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    border-radius: 3px;
  }

  .award .full-name {
    padding: 6% 0 0 5%;
    color: white;

    font-family: 'Arial Black' !important;
  }

  .award .description {
    padding: 1% 0 0 5%;
    color: white;

    font-family: 'Arial'; 
    font-weight: lighter;
  }

  .award .accolade {
    margin: 30% 0 0 0;

    color: rgb(129, 180, 140);
    font-family: 'Arial Black';
    font-size: 30px;
  }
  
  .card-content {
    margin: 10% 0 0 0;
    img {
      width:100%
    }
  }

  .professionals {
    padding: 0;
    margin-bottom: 5%;
    height: 350px;

    background: white !important;
    // box-shadow: 5px 12px 20px rgba(0, 0, 0, .15);
  }

  .professionals .pro-image {
    height: inherit;
    background-image: url('/img/mustache.jpg');
    background-size: cover;
  }

  .professionals .pro-content {
    height: 300px;
  }

  .professionals .pro-content h2 {
    margin: 3% 0 3% 5%;
  }

  .pro-content .sport-btn {
    width: 70px;
    padding: 0 2%;
    margin: 0 0 0 5%;

    border: 1px solid gray;
    border-radius: 3px;
  }

  .pro-content .sport-btn p {
    margin: 0;
  }

  .pro-content .pro-description {
    margin: 3% 0 0 5%;
  }


  .roping-videos {
  }

  .roping-videos .vid-thumbnail {
    width: 100%;
    height: 100px;

    background-size: cover;
  }

  .roping-videos .vid-description {
    background: white;
  }

}

