.banner {
  padding:0 !important;
}

.teamroping-header {
  background-size: cover;
  background-image: url('/img/profile-pic.jpg');
  width:100%;
  height:650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white !important;
}

.profile-info {
  padding: 8% 7%;
}

.hire-btn {
  width: 130px;
  height: 40px;
  margin: 2% 0 0 0;
  // padding: 1%;

  background: white;
  color: rgba(0, 0, 0, .8) !important;

  border-radius: 7px;
}

.hire-btn h5 {
  font-size: 15px;
  line-height: 40px;
  vertical-align: middle;
}


.human-name {
  margin: 0;
  font-size: 28pt;
}

.sport-title, .location {
  display:block;
  font-size: 12pt;
}

.actions {
  a {
    width:100%;
  }
}
