body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

html {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

#subscribe {
  h1 {font-family: 'Arial Black'}
  
  h2 {font-family: 'Arial Black';}
  
  .green {color: rgb(35, 145, 94)}
  
  .light-green {color: rgba(102, 177, 148, .5)}

  // margin-top: 70px;
  padding: 10% 5%;

  .subscription-card {
    padding: 10%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);

    .sub-price {
      width: 130px;
      height: 130px;
      margin: 10% auto;

      background: rgb(71, 143, 101);
      color: white;

      border-radius: 67.5px;

      h1 {
        line-height: 130px;
        vertical-align: middle;

        font-size: 30px;
      }
    }

    h3 {
      height: 100px !important;
    }

    .buy-btn {
      width: 130px !important;
      margin: 5% auto !important;
      padding: 2%;
      display: block;

      background: rgb(71, 143, 101) !important;
      color: white;
      border-radius: 5px;

      cursor: pointer;
    }
  }



  @media (min-width: 300px) {
    .subscription-card {
      margin-top: 10px;
    }
  }
  
  @media (min-width: 768px) {
  
  }
  
  @media (min-width: 992px) {
  
  }
  
  @media (min-width: 1200px) {
  
  }

}

