@media(min-width: 300px) {
  #my-video {
    height: 200px;

    video {
      height: 200px;
    }
  }

  .zoom-button, .control-button, .video-control-button {
    color: #fff;
    font-size:3.3vw;
  }
}
#my-video {
  width: 96% !important;
  height: 500px !important;
  margin: 0 2%;
  pointer-events: none;

  video {
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    position: relative;
  }
}

#protection {
  width: 90%;
  margin: 2% 0 0 5%;
  background-color: #000;
  overflow: hidden;
}

.zoom-panel, .playback-panel {
  width: 90% !important;
  height: 50px;
  // height: 500px !important;
  margin: 0 5%;
  background-color: #2b333f;
}

.zoom-button, .control-button, .video-control-button {
  color: #fff;
  font-size:2.3vw;
}



.video-title {
  margin: 1% 5%;
}