body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

html {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

h1 {
  font-family: 'Arial Black';
}

h2 {
  font-family: 'Arial Black';
}

.green {
  color: rgb(35, 145, 94);
}

.light-green {
  color: rgba(102, 177, 148, .5);
}

.view-leaderboard {
  font-size: 12px;
  color: rgb(192, 192, 192);
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

#home {
  margin-top: 70px;
}

.roping-videos {
  .video {
    padding: 3%;
    margin: 0 0 6% 0;
    background: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .05);
  }

  .video-wrapper {
    margin: 0 0 1% 0;
  }

  .video-wrapper:hover {
    .vid-time {
      background: rgba(0, 0, 0, .85);
    }

    .light-green {
      color: rgba(102, 177, 148, 1);
    }
  }

  .vid-thumbnail {
    width: 100%;
    height: 200px;

    padding: 0;
    margin: 0;
    position: relative;

    background-size: cover;
    background-image: url('/img/cow.jpg');
  }

  .vid-time {
    width: 40px;
    height: 20px;
    // margin: 0 0 0 75%;
    position: absolute;
    right: 6px;
    bottom: 6px;

    background: rgba(0, 0, 0, .6);

    border-radius: 5px;

    p {
      color: white;
      font-size: 10px;
      line-height: 20px;
      vertical-align: middle;
    }
  }

  .vid-content {
    width: 100%;
    padding: 2%;
    margin: 0;
    background: white;

    .vid-description {
      color: black !important;

      li a {
        text-decoration: none;
        padding: 0;
        margin: 0;
      }
    }

    .vid-views {
      color: rgb(196, 196, 196);
      font-size: 13px;
    }
  }    
}

@media (min-width: 300px) {
  .sa-brand {
    display: none;
  }

  .sa-brand-short {
    margin: 0 0 0 .5%;
    font-family: Arial Black;
    color: blue;
    // display: block;
  
    li a {
      text-decoration: none !important;
    }
  }

  .nav-search {
    display: none;
  }

  .professionals {
    border-radius: 3px;
  }

  .professionals .hire-btn {
    display: block;
    margin: 5% 0 0 0;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    background-color: rgb(74, 131, 96);
    color: white;
    border-radius: 3px;
  
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .roping-videos {
    .vid-thumbnail {
      height: 200px;
    }
  }
}

@media (min-width: 992px) {
  // .roping-videos {
  //   .vid-thumbnail {
  //     height: 300px;
  //   }
  // }
}

@media (min-width: 1200px) {
  .sa-brand {
    margin: 0 0 0 .5%;
    font-family: Arial Black;
    color: blue;
    display: block;
  
    li a {
      text-decoration: none !important;
    }
  }

  .sa-brand-short {
    margin: 0 0 0 .5%;
    font-family: Arial Black;
    color: blue;
    display: none;
  
    li a {
      text-decoration: none !important;
    }
  }

  .nav-search {
    display: inline-block;
  }

  .professionals .hire-btn {
    margin: 2% 0 0 88%;
    width: 100px;
    height: 40px;
  
    color: rgb(74, 131, 96);
    background: white;
    border: 2px solid rgb(74, 131, 96);
    border-radius: 3px;
  
    cursor: pointer;
  }
  
  .coaches:hover {
    .hire-btn {
      background-color: rgb(74, 131, 96);
      color: white;
    }
  }
}



.sa-nav {
  // background-color: #28a745 !important;
  box-shadow: 10px -20px 30px rgba(0, 0, 0, .2) !important;
  color: white !important;
  z-index: 1000;

  li a {
    text-decoration: none;
    color: white;
  }
}

.sa-brand {
  margin: 0 0 0 .5%;
  font-family: Arial Black;
  color: blue;

  li a {
    text-decoration: none !important;
  }
}

.sa-brand-short {
  font-family: Arial Black;
  color: blue;

  li a {
    text-decoration: none !important;
  }
}

.nav-search {
  width: 600px;
  height: 40px;
  margin: 0 0 0 20%;
  padding: 0 0 0 1%;

  border: none;
  background: rgb(244, 246, 247);
  outline: none;
  box-shadow: none;  
}

.search-results {
  display: none;
}

.upload-btn {
  color: rgb(182, 182, 182);
  width: 40px;
}

.nav-profile-pic {
  width: 35px;
  height: 35px;
  margin: 1% 0 0 0;

  border-radius: 50px;
  background-image: url('/img/austin-light.jpg');
  background-size: cover;
}

// .nav-search::placeholder {
//   padding: 0 0 0 0;
// }

.side-nav {
  // background: rgb(246, 248, 246);
  background: white;
  border-right: 1px solid rgba(0, 0, 0, .1);
  height: 200vh;
  overflow: scroll;
}

.content {
  height: 100vh;
  padding: 6%;
  background: rgb(242, 243, 245) !important;
  overflow: scroll;
}

.guide {
  margin: 30% 0 0 0;

  h6 {
    color: rgb(182, 182, 182) !important;
    margin: 15% 0 1% 0;
    padding: 0 0 0 5%;
    font-weight: lighter;
    // font-family: 'Muli';
  }

  .guide-routes {
    height: 50px;
    padding: 0 0 0 5%;
    cursor: pointer;
    display: flex;

    p {
      // margin: 0 0 0 10%;
      // padding: 0 0 0 5%;
      color: rgb(94, 94, 94);
      font-size: 17px;
      line-height: 50px;
      vertical-align: middle;
    }

    .guide-route-icon {
      margin: 0 8% 0 0;
      color: rgb(74, 146, 89);
      line-height: 50px;
      vertical-align: middle;
    }
  }

  .guide-routes:hover {
    background: rgb(238, 238, 238);
  }
}


.nav-wrapper {
  background-color: #28a745;
}

.input-field>select {
  display: inline-block;
  position: inherit;
  width: 100%;
  opacity: 1;
  height: 44px;
  pointer-events: all;
}

.input-field>select + label {
  font-size: 12px;
  margin-top: -36px;
}

.dropdown-button {
  &:focus {
    outline: 0;
  }
}

// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "leaderboard";
@import "home";
@import "massrunuploader";
@import "profile";
@import "runeditor";
@import "userhumanlinker";
@import "videoplayer";


.coaches {
  width: 100%;
  margin: 0 0 7% 0;
  padding: 0;

  border-radius: 3px;

  // box-shadow: 0px 1px 30px rgba(100, 140, 230, .15);
}

.professionals {
  padding: 0;
  border-radius: 3px !important;
  // height: 350px;

  background: white !important;
}

.professionals .pro-image {
  height: 300px;
  background-image: url('/img/prof.jpg');
  background-size: cover;

  h2 {
    margin: 12% 0 0 0;
    font-size: 50px;
    color: white;
  }
}

.professionals .pro-content {
  height: 80px;

  // border: 1px solid gray;
}

.professionals .pro-content h2 {
  color: white;
  margin: 3% 0 3% 5%;
}

.pro-content .sport-btn {
  width: 70px;
  padding: 0 2%;
  margin: 0 0 0 5%;
}

.pro-content .sport-btn p {
  margin: 0;
}

.pro-content .pro-description {
  margin: 3% 0 0 5%;
}

.pro-content .coach-vid {
  width: 150px;
  height: 150px;

  margin: 10% 0 0 10%;
  background-size: cover;
  background-image: url('/img/cow.jpg');
}


// .roping-videos {

//   .video-wrapper {
//     margin: 0 0 1% 0;
//   }

//   .video-wrapper:hover {
//     .vid-time {
//       background: rgba(0, 0, 0, .85);
//     }

//     .light-green {
//       color: rgba(102, 177, 148, 1);
//     }
//   }

//   .vid-thumbnail {
//     width: 100%;

//     padding: 0;
//     margin: 0;
//     position: relative;

//     background-size: cover;
//     background-image: url('/img/cow.jpg');
//   }

//   .vid-time {
//     width: 40px;
//     height: 20px;
//     // margin: 0 0 0 75%;
//     position: absolute;
//     right: 6px;
//     bottom: 6px;

//     background: rgba(0, 0, 0, .6);

//     border-radius: 5px;

//     p {
//       color: white;
//       font-size: 10px;
//       line-height: 20px;
//       vertical-align: middle;
//     }
//   }

//   .vid-content {
//     width: 100%;
//     padding: 2%;
//     margin: 0;
//     background: white;

//     .vid-description {
//       color: black !important;

//       li a {
//         text-decoration: none;
//         padding: 0;
//         margin: 0;
//       }
//     }

//     .vid-views {
//       color: rgb(196, 196, 196);
//       font-size: 13px;
//     }
//   }    
// }