.input-field>select {
  position: inherit;
  width: 100%;
  opacity: 1;
  height: 44px;
  pointer-events: all;
}

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
