#my-video {
  width: 100% !important;
  height: 300px !important;
  pointer-events: none;
}

#protection {
  overflow: hidden;
}

.vjs-control-bar {
  opacity: 1 !important;
  pointer-events: all !important;
}

.zoom-button {
  background-color: #2b333f;
  color: #fff;
  font-size: 28pt;
}

// .card {
//   overflow: auto;

//   .file-upload {
//     margin-bottom: 50px;
    
//     label {
//       margin-top: 10px;
//     }
//   }
// }